 
﻿@using DestinoComum2.Models

@model IEnumerable<CidadeModel>

<link href="index.css" rel="stylesheet" />



@{

    Layout = ViewBag.LayoutPagina;

}

@if (TempData["MensagemSucesso"] != null)

{

    <div class="alert alert-success text-dark" role="alert">

        @TempData["MensagemSucesso"]

    </div>

}

@if (TempData["MensagemErro"] != null)

{

    <div class="alert alert-danger text-dark" role="alert">

        @TempData["MensagemErro"]

    </div>

}

<div class="titulo" style=" width:100%; color:black; font-size:5rem; display:flex; justify-content:center; align-items:center;  font-weight:bold;  margin-top:2rem; margin-bottom:1rem; background-color:#F8F8FF; width:100%;"> Destino comum </div>

<div class="corpo" style=" background-color:#87CEEB; width:100%;">

    <div class="py-5">

        <div class="container mt-2 mb-5">

            <!-- Adicione a classe mt-5 para uma margem superior -->

            <form method="get" asp-action="Index" asp-controller="Home" class="d-flex justify-content-center " style="margin-bottom:5rem;">

                <input name="pesquisar" class="form-control w-50 mx-2" style="border: 1px solid black; border-radius: 10px" />

                <button type="submit" class="btn btn-primary w-10" style="border-radius:10px">Pesquisar</button>

            </form>

        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 g-0">

        @if (Model != null)

        {

            if (Model.Count() > 0)

            {

                var cidadesOrdenadas = Model.OrderBy(c => c.Nome).ToList();

                @foreach (var cidade in cidadesOrdenadas)

                {

                    <div class="col" style="margin-right:-55px;margin-left:15rem">

                        <div class="card" style="margin-bottom: 20px; ">

                            <img src="/Imagem/@cidade.Capa" class="card-img-top" style="width: 100%; height:200px; object-fit: cover;" />

                            <div class="card-body">

                                <h5 class="card-title" style="color:black; font-weight:bold; font-size:1.2rem;">@cidade.Nome</h5>

                                <p class="card-text" style=" font-weight:bold; font-size:12px;">@cidade.TipoDestino</p>

                                <a href="@Url.Action("Detalhes", "Home", new { id = cidade.IdCidade })" class="btn btn-primary btn-block" style="font-size: 16px; ">Detalhes</a>

                            </div>

                        </div>

                    </div>

                }

            }

        }

    </div>


</div>