@using DestinoComum2.Models
@model IEnumerable<UsuarioModel>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 style="margin-right:22rem; margin-left:35rem; font-size:2.2rem; ">Cadastro de Clientes</h2>
        <a asp-controller="Usuario" asp-action="Cadastrar" asp-route-id="0" class="btn-success btn"><i class="bi bi-plus-circle"></i>Cadastrar Novo Cliente</a>
    </div>

    <table class="table table-hover" id="registros" style="margin-top:20rem;">
        <thead>
            <tr>
                <th style="border:1px solid black; background-color:#D3D3D3;" ></th>
                <th style="border:1px solid black; background-color:#D3D3D3;">Usuário</th>
                <th style="border:1px solid black; background-color:#D3D3D3;">Nome</th>
                <th style="border:1px solid black; background-color:#D3D3D3;">Email</th>
                <th style="border:1px solid black; background-color:#D3D3D3;">Data de Criação</th>
                <th style="border:1px solid black; background-color:#D3D3D3;">CPF</th>
                <th style="border:1px solid black; background-color:#D3D3D3;"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @if(Model.Count()>0)
                {
                    @foreach(var funcionario in Model)
                    {
                        <tr style="border:2px solid black;">

                            @if(funcionario.Situacao == true)
                            {
                                <td>
                                    <img src="~/img/Ativo.png" style="width: 25px; height: 25px"/>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <img src="~/img/Inativo.png" style="width: 25px; height: 25px" />
                                </td>
                            }


                            <td style="border:2px solid black;">@funcionario.Usuario</td>
                            <td style="border:2px solid black;">@funcionario.NomeCompleto</td>
                            <td style="border:2px solid black;">@funcionario.Email</td>
                            <td style="border:2px solid black;">@funcionario.DataCadastro</td>
                            <td style="border:2px solid black;">@funcionario.CPF</td>
                            <td>
                                <a asp-controller="Usuario" asp-action="Detalhes" asp-route-id="@funcionario.Id" class="btn-info btn"><i class="bi bi-file-earmark-zip"></i>Detalhes</a>
                                <a asp-controller="Usuario" asp-action="Editar" asp-route-id="@funcionario.Id" class="btn-warning btn"><i class="bi bi-pencil"></i>Editar</a>

                            </td>


                        </tr>


                    }
                }

                else
                {
                    <tr><td colspan="7" class="text-center">Sem Clientes Cadastrados</td></tr>
                }
            }




        </tbody>

    </table>



</div>