@using DestinoComum2.Models
@model IEnumerable<UsuarioModel>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Cadastro de Funcionários</h2>
        <a asp-controller="Usuario" asp-action="Cadastrar" class="btn-success btn"><i class="bi bi-plus-circle"></i>Cadastrar Novo Funcionário</a>
    </div>

    <table class="table table-hover" id="registros">
        <thead>
            <tr >
                <th style="border:1px solid black; background-color:#D3D3D3; "></th>
                <th style="border:1px solid  black; background-color:#D3D3D3; font-size:1rem;">Usuário</th>
                <th style="border:1px solid  black; background-color:#D3D3D3; font-size:1rem; ">Nome</th>
                <th style="border:1px solid  black; background-color:#D3D3D3; font-size:1rem; ">Email</th>
                <th style="border:1px solid  black; background-color:#D3D3D3; font-size:1rem;">Data de Criação</th>
                <th style="border:1px solid  black;  background-color:#D3D3D3; font-size:1rem;">CPF</th>
                <th style="border:1px solid  black; background-color:#D3D3D3;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    @foreach (var clientes in Model)
                    {
                        <tr style="border:2px solid black;">

                            @if (clientes.Situacao == true)
                            {
                                <td>
                                    <img src="~/img/Ativo.png" style="width: 25px; height: 25px" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <img src="~/img/Inativo.png" style="width: 25px; height: 25px" />
                                </td>
                            }


                            <td style="border:2px solid black;">@clientes.Usuario</td>
                            <td style="border:2px solid black;">@clientes.NomeCompleto</td>
                            <td style="border:2px solid black;">@clientes.Email</td>
                            <td style="border:2px solid black;">@clientes.DataCadastro</td>
                            <td style="border:2px solid black;">@clientes.CPF</td>
                            <td style="border:2px solid black;">
                                <a asp-controller="Usuario" asp-action="Detalhes" asp-route-id="@clientes.Id" class="btn-info btn"><i class="bi bi-file-earmark-zip"></i>Detalhes</a>
                                <a asp-controller="Usuario" asp-action="Editar" asp-route-id="@clientes.Id" class="btn-warning btn"><i class="bi bi-pencil"></i>Editar</a>

                            </td>


                        </tr>


                    }
                }

                else
                {
                    <tr><td colspan="7" class="text-center">Sem Funcionários Cadastrados</td></tr>
                }
            }




        </tbody>

    </table>



</div>